html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

input {
  min-width: 90%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn,
.btn:focus {
  text-decoration: none;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-red:hover {
  background-color: #910000;
}

.btn-red-search {
  position: relative;
  right: 1rem;
  border-radius: 5px;
  align-self: flex-end;
  padding: 8px;
}

.btn-red-search:focus {
  outline: none;
}

.btn-primary {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: medium;
}

.btn-grey {
  background-color: lightgray;
  color: black;
}

.btn:hover {
  background-color: darkgray;
}

.btn:focus {
  box-shadow: none;
}

.rounded {
  border-radius: 120rem;
}

.rounded.float-right {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  float: right;
  cursor: pointer;
}

.rounded.float-right:hover {
  background-color: red;
}

.bg-orange-red {
  background-color: orangered;
}

.bg-dark-grey {
  background-color: darkgrey;
}

.bg-blue {
  background-color: blue;
}

.bg-orange {
  background-color: orange;
}

.bg-light-gray {
  background-color: lightgray;
}

.bg-red {
  background-color: red;
}

.btn.btn-primary.btn-red.btn-red-search.footer-input-btn {
  border-radius: 0;
  background-color: #3a3939;
}

.btn.btn-primary.btn-red.btn-red-search.footer-input-btn:hover {
  background-color: darkgrey;
}

.text-white,
.text-white a {
  color: white;
}

.text-center {
  text-align: center;
}

.text-green,
.text-green a {
  color: green;
}

.text-grey,
.text-grey a {
  color: grey;
}

.text-blue,
.text-blue a {
  color: blue;
}

.text-red,
.text-red a {
  color: red;
}

.text-light-gray {
  color: lightgray;
}

.header-container.no-bg-no-height {
  min-height: auto;
  height: auto;
  background: white;
}

.pd-x {
  padding-left: 0;
  padding-right: 0;
}

.pd-y {
  padding-top: 0;
  padding-bottom: 0;
}

.pd-y-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pd-y-large {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pd-small {
  padding: 1rem;
}

.pd-small-l {
  padding-left: 1rem;
}

.pd-small-r {
  padding-right: 1rem;
}

.pd-small-t {
  padding-top: 1rem;
}

.pd-small-b {
  padding-bottom: 1rem;
}

.pd-medium {
  padding: 2rem;
}

.pd-medium-l {
  padding-left: 2rem;
}

.pd-medium-r {
  padding-right: 2rem;
}

.pd-medium-t {
  padding-top: 2rem;
}

.pd-medium-b {
  padding-bottom: 2rem;
}

.pd-large {
  padding: 3rem;
}

.pd-large-l {
  padding-left: 3rem;
}

.pd-large-r {
  padding-right: 3rem;
}

.pd-large-t {
  padding-top: 3rem;
}

.pd-large-b {
  padding-bottom: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.bolder {
  font-weight: bolder;
}

.text-large {
  font-size: 3rem;
}

.text-medium {
  font-size: 2rem;
}

.text-small {
  font-size: 1rem;
}

.header {
  background-color: #da0101;
  padding: 0 1rem;
}

.header-container {
  min-height: 500px;
  height: 80vh;
  background: linear-gradient(350deg, black, rgba(220, 0, 0, 0.544)), url(../img/children.jpg);
  background-repeat: no-repeat;
}

.header-brand {
  float: left;
  font-size: 3rem;
  padding: 2rem;
  transition: all 0.5s;
}

.header-brand:hover {
  transform: scaleY(1.3);
  background-color: maroon;
}

.header-brand-title {
  color: white;
  text-decoration: none;
}

.header-brand-title:hover {
  color: lightgrey;
}

.header-icons {
  color: white;
}

.header-nav-container {
  float: right;
}

.header-nav-ul {
  display: flex;
  padding: 0 2rem;
}

.header-nav-ul-li {
  list-style: none;
  padding: 0 1rem;
  transition: all 0.5s;
}

.header-nav-ul-li:hover {
  transform: scaleY(1.3);
  background-color: maroon;
}

.header-nav-ul-li-a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.header-form {
  padding: 0;
  width: 50%;
}

.header-form-input {
  box-sizing: border-box;
  width: 80%;
  padding: 1rem;
  border-radius: 5px 0 0 5px;
  transition: all 0.4s;
}

.header-form-input:focus {
  border: 1px solid red;
  outline: none;
}

.header-form-input-container {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.header-form-header {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  letter-spacing: 2px;
}

.header-form-header-label {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.8rem;
}

.header-form fieldset {
  padding: 2rem;
  background-color: #d3d3d38a;
  border-radius: 5px;
  border: none;
}

.header-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-btn {
  width: 20rem;
  text-align: center;
  padding: 1.3rem;
  margin: 3rem auto;
}

.header-btn-icon {
  font-size: 2rem;
}

.steps {
  font-size: 1.6rem;
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}

.steps-container-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.more-item-text-container {
  float: left;
}

.more-item-container {
  display: flex;
  width: 80%;
  margin: 0 auto 3rem;
  font-size: 1.6rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  color: white;
}

.footer {
  padding-top: 2rem;
  font-size: 1.6rem;
  background: black;
}

.footer-input {
  width: inherit;
  border-radius: 0;
}

.footer-input-btn {
  position: relative;
  right: 1rem;
  padding: 6px;
  align-self: flex-end;
  cursor: pointer;
}

.footer-brand {
  color: white;
  padding: 1.5rem;
  border: 1px solid white;
  border-radius: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  background: #1a1a1a66;
  transition: all 0.4s;
}

.footer-brand:hover {
  transform: scaleY(1.3);
  background-color: maroon;
  margin: 0 2rem;
}

.footer-ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-ul li {
  padding: 0 1.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: all 0.2s;
}

.footer-subscribe li {
  padding: 3rem;
  flex: 1;
}

.footer-copyright ul li {
  padding-right: 2rem;
}

.footer-ul li:hover {
  transform: scaleY(1.3);
  background-color: maroon;
}

.footer-ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  padding-right: 3rem;
}

.footer-subscribe {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  margin: auto;
}

.footer-subscribe fieldset {
  border: none;
  padding: 2rem 0;
}

.footer-copyright a {
  color: darkgray;
  font-size: 2rem;
  text-decoration: none;
}

.footer-subscribe li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  padding-right: 3rem;
}

.footer-copyright {
  color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #292929;
  align-items: center;
}

.footer-copyright ul {
  list-style: none;
  display: flex;
}

.footer-copyright a:hover {
  text-decoration: underline;
  color: lightgray;
}

.results {
  font-size: 1.6rem;
}

.results h4 {
  color: gray;
  font-weight: bolder;
  margin: 2rem 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}

.results-form {
  width: 100%;
  margin: 4rem auto;
}

.results-form-fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

.results-form-fieldset label {
  font-weight: bolder;
  font-size: 1.6rem;
  display: block;
}

.results-btns {
  display: inline-flex;
  align-items: end;
}

.results-btns button {
  white-space: nowrap;
  text-transform: capitalize;
  align-self: flex-end;
}

.results-first {
  padding: 11px;
}

.main-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(31rem, 1fr));
  grid-auto-rows: minmax(30rem, 1fr);
  width: 80%;
  margin: 4rem auto;
}

.main-grid-item {
  background: linear-gradient(350deg, rgba(141, 1, 1, 0), rgba(220, 0, 0, 0.596)), url(../img/child.jpg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: center;
  cursor: pointer;
  transition: all 0.2s;
}

.main-grid-item:hover {
  transform: scaleY(1.1);
  border: 1px solid red;
  border-radius: 1rem;
  background: linear-gradient(350deg, rgba(32, 32, 32, 0), rgba(220, 0, 0, 0.596)), url(../img/child.jpg);
  background-position-x: 80%;
  background-position-y: center;
}

.main-grid-item h5 {
  cursor: pointer;
  font-size: 3rem;
  text-align: center;
}

.main-header {
  color: gray;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 4rem 0;
}

input,
select {
  padding: 8px 0;
  margin-top: 1rem;
  margin-right: 1rem;
}

.sign-form {
  width: 60%;
  margin: 3rem auto;
}

.sign-form button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.sign-form fieldset {
  border: none;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.sign-form fieldset label {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
}

.sign-form fieldset input {
  background: grey;
  color: white;
  padding: 1rem 0;
  border-radius: 5px;
}

.sign-form fieldset input:focus {
  border: 2px solid maroon;
  background: white;
  color: black;
}

.details {
  width: 60%;
  font-size: 1.6rem;
  margin: 2rem auto;
}

.details-card {
  padding: 2rem;
  box-shadow: 19px -1px 98px -55px rgba(0, 0, 0, 0.71);
}

.details-card-header {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.details-card-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.details-card-contents div {
  border: 1px solid lightgray;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1rem 0;
}

.details-card-contact {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.map-iframe-container {
  overflow: hidden;
  position: relative;
}

.map-iframe-container iframe {
  min-width: 600px;
  min-height: 400px;
  width: 100%;
  border: none;
}

@media screen and (max-width: 1024px) {
  .details {
    width: 80%;
  }

  .col-sm-d-none {
    display: none;
  }

  .footer {
    font-size: 1.4rem;
  }

  .footer ul {
    padding: 0;
  }

  .footer ul li {
    padding: 1rem 0;
  }

  .header-brand {
    padding: 2rem 0;
  }

  .header-nav-ul {
    padding: 0;
  }

  input,
  select {
    width: 100%;
  }

  .main-grid {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .details {
    width: 90%;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-container {
    height: 100vh;
  }

  .header-form {
    width: 100%;
    text-align: center;
  }

  .header-nav-container {
    width: 100%;
  }

  .header-nav-ul {
    justify-content: space-evenly;
  }

  .more-item-text-container {
    padding: 1rem;
    order: 2;
  }

  .more-item-container {
    width: 100%;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .steps-container-contents {
    grid-template-columns: 1fr;
  }

  .col-sm-d-none {
    display: none;
  }

  .results-form {
    width: 98%;
    margin: 4rem 0;
  }

  .results-form-fieldset {
    flex-direction: column;
  }

  .results-form-fieldset div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    text-align: center;
  }

  .results-btns {
    align-items: stretch;
  }

  .results-btns button {
    align-self: inherit;
  }

  input,
  select {
    width: auto;
  }

  .main-grid {
    width: 90%;
    margin: auto;
  }

  .footer ul {
    padding: 0;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .footer ul li {
    padding: 1rem 0;
    border: none;
  }

  .footer-copyright {
    display: flex;
    flex-direction: column;
  }

  .footer-copyright ul {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .sign-form {
    width: 90%;
  }
}
