.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

$small: 1rem;
$medium: 2rem;
$large: 3rem;

@mixin link{
    text-transform: uppercase;
    text-decoration: none;
}

$header-gradient:  linear-gradient(
    350deg,
    rgb(0, 0, 0),
    rgba(220, 0, 0, 0.544)
  );


  @mixin bold-uppercase {
    text-transform: uppercase;
    font-weight: bolder;
  }

  @mixin border-small {
      border-radius: 5px;
  }

  .btn, .btn:focus{
      text-decoration: none;
  }
  .btn {

    &-red{
        background-color: red;
        color: white;
        &:hover{
            background-color: #910000;
        }

        &-search{
            position: relative;
            right: 1rem;
            border-radius: 15px 0 0 15px;
          }
    }

      &-primary{
      
      @include bold-uppercase;
      
      padding: 12px;
      font-size: medium;
  }

  &-grey{
    background-color: lightgray;
    color: black;
  }
  &:hover{
      background-color: darkgray;
      transform: translateY();

  }
  &:focus{
      box-shadow: none;
  }
}

  @mixin hover-with-effect{
        transform: scaleY(1.3);
        background-color: maroon;

  }

  @mixin  ul-css {
    list-style: none;
    display: flex;
  }
 

  .rounded{
    border-radius: 120rem;
  }

  .rounded.float-right{
    width: 20rem;
    height: 20rem;
    padding: $medium;
    float: right;
   cursor: pointer;

   &:hover{
     background-color: red;
   }
  }

  .bg-orange-red{
    background-color: orangered;
  }
  .bg-dark-grey{
    background-color: darkgrey;
  }
  .bg-blue{
    background-color: blue;
  }

  .bg-orange{
    background-color: orange;
  }
  .bg-light-gray{
    background-color: lightgray;
  }
  .bg-red{
    background-color: red;
  }

  .btn.btn-primary.btn-red.btn-red-search.footer-input-btn {
    border-radius: 0;
    background-color: rgb(58, 57, 57);

    &:hover{
      background-color: darkgrey;
    }
  }
  .text{
    &-white, &-white a{
      color: white;
    }

    &-green, &-green a{
      color: green;
    }

    &-grey, &-grey a{
      color: grey;
    }

    &-blue, &-blue a{
      color: blue;
    }

    &-red, &-red a{
      color: red;
    }

    &-light-gray{
      color: lightgray;
    }
  }

  .header-container.no-bg-no-height{
    min-height: auto;
    height: auto;
    background: white;
  }

  @mixin  grids-config {
    display: grid;
    grid-gap: $medium;
  }

  @mixin bold-grey-header{
    color: gray;
    font-weight: bolder;
    margin: 2rem 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
  }

  .pd{
    &-x{
      padding-left: 0;
      padding-right: 0;
    }

    &-y{
      padding-top: 0;
      padding-bottom: 0;

      &-large{
        padding-top: $large;
        padding-bottom: $large;
      }
    }

    &-small{
      padding: $small;

      &-l{
        padding-left: $small;
      }
      &-r{
        padding-right: $small;
      }
      &-t{
        padding-top: $small;
      }

      &-b{
        padding-bottom: $small;
      }
    }

    &-medium{
      padding: $medium;

      &-l{
        padding-left: $medium;
      }
      &-r{
        padding-right: $medium;
      }
      &-t{
        padding-top: $medium;
      }

      &-b{
        padding-bottom: $medium;
      }

    }

    &-large{
      padding: $large;


      &-l{
        padding-left: $large;
      }
      &-r{
        padding-right: $large;
      }
      &-t{
        padding-top: $large;
      }

      &-b{
        padding-bottom: $large;
      }

      
    }
    
  }
  .text-center{
    text-align: center;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .bolder{
    font-weight: bolder;
  }